
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/assets/font/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
			local('MaterialIcons-Regular'),
			url(/assets/font/MaterialIcons-Regular.woff2) format('woff2'),
			url(/assets/font/MaterialIcons-Regular.woff) format('woff'),
			url(/assets/font/MaterialIcons-Regular.ttf) format('truetype');
}
:global{
	html {
		font-size: 62.5%;
		font-family: Arial;
	}

	a, abbr, address, article, aside, audio, b, blockquote, body, caption, cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
		padding: 0;
		margin: 0;
		border: 0;
		outline: 0;
	}

	header{
		h1{
			position: absolute;
			left: 0;
			width: 100%;
			text-align: center;
			top: 19px;
		}

		button{
	    z-index: 2;
		}
	}

	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;  /* Preferred icon size */
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;

		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;

		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;

		/* Support for IE. */
		font-feature-settings: 'liga';
	}

	.navigation{
		display: flex;
		height: 100%;
		box-sizing: border-box;
		flex-direction: row;
		padding-top: 0px;
		padding-bottom: 0px;
		a{
			display: flex;
			height: 100%;
			align-items: center;
			padding: 0 1em;
			font-size: 1.4em;
			text-decoration: none;
			box-sizing: border-box;
			&:hover{
				background-color: #7380d4;
			}
			&.active{
				border-bottom: 3px solid #ff4081;
				padding-top: 3px;
			}
		}
	}

	.wrapper{
		padding-top: 6.4rem;
		font-size: 1.3em;
	}




	.flex{
		display: flex;
	}

	.flex-col{
		@extend .flex;
		flex-direction: column
	}

	.flex-row{
		@extend .flex;
		flex-direction: row
	}

	[class*="flex"].between{
		justify-content: space-between;
	}




}
