.card__
	&list
		@extend .flex, .flex-row;
	&container
		@extend .flex, .flex-column;
		padding .5%
		border-radius 3px
		border 1px solid color-dark
		text-decoration none
		&, 
		[class*="icono"]
			color color-dark
		a&:hover
			background-color color-grey
			&, 
			[class*="icono"]
				color color-white

	&header
		text-align center