.bg-
	&brown
		background-color color-brown
	&dark
		background-color color-dark
	&blue
		background-color color-blue
		&-light
			background-color color-blue-light
	&light
		background-color color-light
	&white
		background-color color-white
	&grey
		background-color color-grey
		&-light
			background-color color-grey-light

.color-
	&brown
		color color-brown
	&dark
		color color-dark
	&blue
		color color-blue
		&-light
			color color-blue-light
	&light
		color color-light
	&white
		color color-white
	&grey
		color color-grey
		&-light
			color color-grey-light


