@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("/font/MaterialIcons-Regular.woff2") format("woff2"), url("/font/MaterialIcons-Regular.woff") format("woff"), url("/font/MaterialIcons-Regular.ttf") format("truetype"); }

@media only screen and (max-width: 480px) {
  .contentCard {
    flex-direction: column; } }

@media only screen and (min-width: 480px) {
  .contentCard {
    display: flex;
    flex-direction: row; }
    .contentCard > div {
      flex: 1; }
  .rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite; }
  @-moz-keyframes _1dUiK3iNdfW9mxDCfzkKyG {
    100% {
      -moz-transform: rotate(360deg); } }
  @-webkit-keyframes _1dUiK3iNdfW9mxDCfzkKyG {
    100% {
      -webkit-transform: rotate(360deg); } }
  @keyframes _1dUiK3iNdfW9mxDCfzkKyG {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } } }

html {
  font-size: 62.5%;
  font-family: Arial; }

a, abbr, address, article, aside, audio, b, blockquote, body, caption, cite, code, dd, del, dfn, dialog, div, dl, dt, em, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0; }

header h1 {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 19px; }

header button {
  z-index: 2; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.navigation a {
  text-decoration: none; }

.wrapper {
  padding-top: 6.4rem;
  font-size: 1.3em; }

.container-upload {
  position: relative;
  height: 3.6rem; }
  .container-upload .fake-button {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 50%; }
  .container-upload .upload {
    cursor: pointer;
    width: 50%;
    height: 3.6rem;
    position: relative;
    text-align: right;
    opacity: 0;
    z-index: 2; }
