.avatar {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #9e9e9e;
  border-radius: 50%; }
  .avatar > svg {
    width: 1em;
    height: 4rem;
    fill: currentColor; }
  .avatar > img {
    max-width: 100%;
    height: auto; }

.image {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  border-radius: 50%; }

.letter {
  display: block;
  width: 100%;
  line-height: 4rem; }
.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  font-size: 1.4rem;
  background: white;
  border-radius: 0.2rem; }
  .card.raised {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
  .card [data-react-toolbox="avatar"] {
    display: block; }

.cardMedia {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .cardMedia.wide, .cardMedia.square {
    width: 100%;
    height: 0; }
    .cardMedia.wide .content, .cardMedia.square .content {
      position: absolute;
      height: 100%; }
    .cardMedia.wide .content > iframe, .cardMedia.wide .content > video, .cardMedia.wide .content > img, .cardMedia.square .content > iframe, .cardMedia.square .content > video, .cardMedia.square .content > img {
      max-width: 100%; }
  .cardMedia.wide {
    padding-top: 56.25%; }
  .cardMedia.square {
    padding-top: 100%; }
  .cardMedia .content {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden; }
  .cardMedia .contentOverlay .cardTitle, .cardMedia .contentOverlay .cardActions, .cardMedia .contentOverlay .cardText {
    background-color: rgba(0, 0, 0, 0.35); }

.cardTitle {
  display: flex;
  align-items: center; }
  .cardTitle [data-react-toolbox="avatar"] {
    margin-right: 1.3rem; }
  .cardTitle .subtitle {
    color: #757575; }
  .cardTitle.large {
    padding: 2rem 1.6rem 1.4rem; }
    .cardTitle.large .title {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 3.2rem;
      -moz-osx-font-smoothing: grayscale;
      line-height: 1.25; }
  .cardTitle.small {
    padding: 1.6rem; }
    .cardTitle.small .title {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 1.4rem;
      line-height: 2.4rem;
      letter-spacing: 0;
      font-weight: 500;
      line-height: 1.4; }
    .cardTitle.small .subtitle {
      font-weight: 500;
      line-height: 1.4; }
  .cardMedia .cardTitle .title, .cardMedia .cardTitle .subtitle {
    color: white; }

.cardTitle, .cardText {
  padding: 1.4rem 1.6rem; }
  .cardTitle:last-child, .cardText:last-child {
    padding-bottom: 2rem; }
  .cardTitle + .cardText, .cardText + .cardText {
    padding-top: 0; }

.cardActions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem; }
  .cardActions [data-react-toolbox="button"] {
    min-width: 0;
    padding: 0 0.8rem;
    margin: 0 0.4rem; }
    .cardActions [data-react-toolbox="button"]:first-child {
      margin-left: 0; }
    .cardActions [data-react-toolbox="button"]:last-child {
      margin-right: 0; }
.ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  pointer-events: none;
  background-color: currentColor;
  border-radius: 50%;
  transform-origin: 50% 50%; }

.rippleWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; }

.ripple {
  transition-duration: 800ms; }
  .ripple.rippleRestarting {
    opacity: 0.3;
    transition-property: none; }
  .ripple.rippleActive {
    opacity: 0.3;
    transition-property: transform; }
  .ripple:not(.rippleActive):not(.rippleRestarting) {
    opacity: 0;
    transition-property: opacity, transform; }
.button {
  position: relative; }

.raised, .flat, .floating, .toggle {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
  height: 3.6rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  outline: none;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
  .raised::-moz-focus-inner, .flat::-moz-focus-inner, .floating::-moz-focus-inner, .toggle::-moz-focus-inner {
    border: 0; }
  .raised > span:not([data-react-toolbox="tooltip"]), .flat > span:not([data-react-toolbox="tooltip"]), .floating > span:not([data-react-toolbox="tooltip"]), .toggle > span:not([data-react-toolbox="tooltip"]) {
    display: inline-block;
    line-height: 3.6rem;
    vertical-align: middle; }
  .raised > svg, .flat > svg, .floating > svg, .toggle > svg {
    display: inline-block;
    width: 1em;
    height: 3.6rem;
    font-size: 120%;
    vertical-align: middle;
    fill: currentColor; }
  .raised > *, .flat > *, .floating > *, .toggle > * {
    pointer-events: none; }
  .raised > .rippleWrapper, .flat > .rippleWrapper, .floating > .rippleWrapper, .toggle > .rippleWrapper {
    overflow: hidden; }
  [disabled].raised, [disabled].flat, [disabled].floating, [disabled].toggle {
    color: rgba(0, 0, 0, 0.26);
    pointer-events: none;
    cursor: auto; }

.raised, .flat {
  min-width: 9rem;
  padding: 0 1.2rem;
  border-radius: 0.2rem; }
  .raised .icon, .flat .icon {
    margin-right: 0.6rem;
    font-size: 120%;
    vertical-align: middle; }
  .raised > svg, .flat > svg {
    margin-right: 0.5rem; }

[disabled].raised, [disabled].floating {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12); }

.raised:active, .floating:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.raised:focus:not(:active), .floating:focus:not(:active) {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36); }

.raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.flat {
  background: transparent; }

.floating {
  width: 5.6rem;
  height: 5.6rem;
  font-size: 2.4rem;
  border-radius: 50%;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
  .floating .icon {
    line-height: 5.6rem; }
  .floating > .rippleWrapper {
    border-radius: 50%; }
  .floating.mini {
    width: 4rem;
    height: 4rem;
    font-size: 1.77778rem; }
    .floating.mini .icon {
      line-height: 4rem; }

.toggle {
  width: 3.6rem;
  background: transparent;
  border-radius: 50%; }
  .toggle > .icon, .toggle svg {
    font-size: 2rem;
    line-height: 3.6rem;
    vertical-align: middle; }
  .toggle > .rippleWrapper {
    border-radius: 50%; }

.neutral:not([disabled]).raised, .neutral:not([disabled]).floating {
  color: #212121;
  background-color: white; }

.neutral:not([disabled]).flat, .neutral:not([disabled]).toggle {
  color: #212121; }
  .neutral:not([disabled]).flat:focus:not(:active), .neutral:not([disabled]).toggle:focus:not(:active) {
    background: rgba(33, 33, 33, 0.2); }

.neutral:not([disabled]).flat:hover {
  background: rgba(33, 33, 33, 0.2); }

.neutral:not([disabled]).inverse.raised, .neutral:not([disabled]).inverse.floating {
  color: white;
  background-color: #212121; }

.neutral:not([disabled]).inverse.flat, .neutral:not([disabled]).inverse.toggle {
  color: white; }
  .neutral:not([disabled]).inverse.flat:focus:not(:active), .neutral:not([disabled]).inverse.toggle:focus:not(:active) {
    background: rgba(33, 33, 33, 0.2); }

.neutral:not([disabled]).inverse.flat:hover {
  background: rgba(33, 33, 33, 0.2); }

.primary:not([disabled]).raised, .primary:not([disabled]).floating {
  color: white;
  background: #3f51b5; }

.primary:not([disabled]).flat, .primary:not([disabled]).toggle {
  color: #3f51b5; }
  .primary:not([disabled]).flat:focus:not(:active), .primary:not([disabled]).toggle:focus:not(:active) {
    background: rgba(63, 81, 181, 0.2); }

.primary:not([disabled]).flat:hover {
  background: rgba(63, 81, 181, 0.2); }

.accent:not([disabled]).raised, .accent:not([disabled]).floating {
  color: white;
  background: #ff4081; }

.accent:not([disabled]).flat, .accent:not([disabled]).toggle {
  color: #ff4081; }
  .accent:not([disabled]).flat:focus:not(:active), .accent:not([disabled]).toggle:focus:not(:active) {
    background: rgba(255, 64, 129, 0.2); }

.accent:not([disabled]).flat:hover {
  background: rgba(255, 64, 129, 0.2); }
